#homepage_button {
  width: 500px;
  height: 100px;
  font-family: arial;
  margin: 0px auto;
  border-radius: 2em;
  background: linear-gradient(#4d94ff, #e6f0ff);
}

#homepage {
  margin-top: 150px;
  text-align: center;
}

#flashcards{
  size: 200%;
  margin-left:550px;
  margin-top: 150px;
}

/*h1 {
  font-family: arial;
  text-align: center;
  margin-top: 150px;
}*/


.submit_forms {
  width: 300px;
  height: 30px;
  border-radius: 2em;
}

.forms {
  margin: 0 auto;
  margin-top: 200px;
  width: 550px;
  text-align: center;
}
