#homepage_button {
  width: 500px;
  height: 100px;
  font-family: arial;
  margin: 0px auto;
  border-radius: 2em;
  background: linear-gradient(#4d94ff, #e6f0ff);
}

/*#flashcard_container {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  width: 700px;
  height: 450px;
}*/

body {
    background-color: #D6EBFF;
}

#homepage {
  margin-top: 150px;
  text-align: center;
}


#flashcards{
  size: 400%;
  display: inline-block;
  /*margin: 85px 42% 0 42%;*/
}


.submit_forms {
  width: 300px;
  height: 30px;
  border-radius: 2em;
}

.forms {
  margin: 0 auto;
  margin-top: 63px;
  width: 550px;
  text-align: center;
}


