<h1>That was correct, Great Job!</h1>

<h1>Here is your definition. What is the word to match it?</h1>

<p><%= @new_card.definition %></p>


<form method = "post" action = "/cards/<%=@card.id%>">
<input type="text" name ="guess" value="" >



<input type="submit" value="SUBMIT">
</form>
