


<!-- <div id = "flashcard_container"> -->



<div id = "homepage">

<img id = "flashcards" src = "/css/our_apple_logo.png"/>
<h1> Which deck would you like to play? </h1>
  <form method = "get" action = "/decks/">
  <input name = "name" type="submit" value="capitals">
  </form>
  <br>
  <form method = "get" action = "/decks/">
  <input name = "name" type="submit" value="coding">
  </form>

</div>
<!-- </div> -->
