
<img id = "flashcards" src = "http://edutech4teachers.edublogs.org/files/2012/06/flashcards-10lxv8f.png"/>
<div id = "homepage">

<!--   <img id = "flashcards" src = "<img id = "flashcards" src = "http://edutech4teachers.edublogs.org/files/2012/06/flashcards-10lxv8f.png"/>
<div id = "homepage"> -->

  <form method = "get" action = "/decks/<%=@deck.id%>">

  <input id = "homepage_button" type="submit" value="START GAME">
  </form>
</div>
